/* Small Screen */
.container {
  margin: 1rem;
}

.addformmovie {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.addformmovie__left {
  margin-bottom: 1rem;
}

.addformmovie__title {
  color: crimson;
  margin-bottom: 1rem;
  font-size: 2.44rem;
}

input[type="text"] {
  width: 300px;
  margin: 0 auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  display: flex;
  flex-direction: column;
}

.addformmovie__button {
  padding: 0.8rem 2rem;
  margin: 0 auto;
  border: none;
  border-radius: 10px;
  background-color: #43ddee;
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
}

.addformmovie__image {
  max-width: 100%;
  height: 40%;
  margin: 0 auto;
  border-radius: 25px;
}

/* Lerge Screen */
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: 3rem auto;
  }

  .addformmovie__title {
    color: crimson;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: center;
  }

  label.addformmovie__add_form_title {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1.2em;
  }

  label.addformmovie__add_form_date {
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: 1.2em;
  }

  .addformmovie {
    margin: 0 1rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .addformmovie__left {
    flex-basis: 50%;
  }

  .addformmovie__right {
    flex-basis: 40%;
  }
}
